.taula{
  width:100%;
  font-family: Arial, Helvetica, sans-serif;
  display:flex;
  background-color: $colorGrey;
  flex-direction: column;
  padding:20px;
  border-radius: 20px;
  border:2px solid black;
  text-align: center;
  & table{
    border-collapse: collapse;
    width:100%;
    & tbody tr:nth-child(odd) {
      background-color: lightgrey;
    }
    & th {
      background-color: black;
      color:$colorWhite;
      padding: 5px;

    }

  }
}
