<div class="taula">
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>NOMBRE</th>
      <th>APELLIDO</th>
      <th>EDAD</th>
      <th>CANTIDAD</th>
      <th></th>
    </tr>
    </thead>

    <tbody class="lerroak" *ngFor="let cliente of clientes; let i = index">
        <tr>
          <td>{{cliente.id}}</td>
          <td>{{cliente.nombre}}</td>
          <td>{{cliente.apellido}}</td>
          <td>{{cliente.edad}}</td>
          <td>{{cliente.cantidad}}</td>
          <td><button (click)="verDetalles(i)">Detalles</button></td>
        </tr>
    </tbody>
  </table>
</div>
<app-detalles [cliente]="cliente" [posicion]="posicion"></app-detalles>
