#detalles{
  background-color: $colorGrey;
  padding:20px;
  margin-top:20px;
  border-radius: 20px;
  border:2px solid black;
  width:100%;
  display:flex;
  flex-direction: column;
  align-self: center;
  & input {
    width:100%;
  }
  & button{
    margin-top:10px;
    margin-right:10px;

  }
}
