body{
  display:flex;
  flex-direction: row;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgrey;
  width: 100%;
  padding:20px;
  & h2 {
    margin-top:10px;
    text-align: center;
  }
}
